.hover-tab:hover {
  background-color: var(--accent-color3);
  color: var(--accent-color1);
}

.border {
  border: 0.1rem solid var(--primary-color);
}

.p-0 {
  padding-left: var(--xs-size);
}

textarea {
  resize: none;
}

.chips:hover {
  background-color: var(--accent-color2);
  color: var(--secondary-color);
}
