.border {
  border: 0.1rem solid var(--primary-color);
}

.chips:hover {
  background-color: var(--accent-color3);
  color: var(--secondary-color);
}

.hover-tab:hover {
  background-color: var(--accent-color3);
  color: var(--accent-color1);
}

.p-0 {
  padding-left: var(--xs-size);
}

textarea {
  resize: none;
}

.form-width {
  width: max-content;
}

@media only screen and (max-width: 650px) {
  .form-width {
    width: auto;
  }
}
